body {
    font-family: 'Roboto', sans-serif;
    background: url("/images/bg3.png") no-repeat center center fixed;
    background-size: cover;
}
h1, h2, h3, h4, h5 , p { margin: 0 }
.w20 { width: 20% }
.w50 { width: 50% }
.w100 { width: 100% }
.mt150 { margin-top: 150px }
.txt-white { color: #f1f2f2 }
.mr10 { margin-right: 10px }
.mr15 { margin-right: 15px }
select.form-control { padding: 10px; height: auto}
.wrapper {
    width: 80%;
    margin: auto;
}
#login {
    width: 100%;
    height: 100%;
    background: url("/images/bg2.png") top left repeat;
    background-attachment: fixed;
    /*background-size: cover;*/
}
#login .btn {
    border: none;
    padding: 15px;
    border-radius: 0px;
}
#login label {
    font-weight: 500;
}
.login {
    padding: 20px;
}
/*Form*/
.form {
    width: 100%;
    padding: 15px;
}
.form-input {
    width: 100%;
    border: #adadad 1px solid;
    padding: 10px 10px 10px 18px;
}
.form-input:focus {
    box-shadow:inset 0 1px 1px rgba(255, 153, 0,.075),0 0 8px rgba(255, 153, 0,.75)
}

.dropdown {
    position: relative;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 55px;
}

.dropdown-content li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: none;
}
.dropdown-content li a:hover {
    background: #f1f2f2;
    color: #000000;
}

.panel {
    border-radius: 0px;
    border: none;
}
.navbar-default {
    /*background: transparent;*/
    border: none;
    height: 70px;
    padding: 15px;
}
.navbar-default .navbar-brand {
    font-size: 26px;
    color: #FFFFFF;
}
#header {
    width: 100%;
    background: #f1f2f2;
    /*padding: 15px;*/
    height: 70px;
    /*position: fixed; !* Sit on top of the page content *!*/
    /*display: none; !* Hidden by default *!*/
    top: 0;
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    background-color: rgba(255,255,255,0.5); /* Black background with opacity */
    z-index: 2;
}
.header-content {
    width: 100%;
    position: absolute;
    padding: 15px;
    /*top: 50%;*/
    /*left: 50%;*/
    color: white;
    /*transform: translate(-50%,-50%);*/
}
.header-content h3 {
    vertical-align: middle;
    color: #0d3625;
    padding: 5px;
}
.header-content ul {
    list-style: none;
    padding: 0;
}
.header-content li a {
    display: block;
    padding: 10px;
    text-align: center;
    color: #0d3625;
}
.header-content li a i {
    padding-left: 10px;
}
.header-content li a:hover {
    color: #5e5e5e;
}
.app {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 1024px;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
}
.container {
    height: 100%;
    background-size: cover;
    margin-top: 100px;
    margin-bottom: 100px;
}
.app .panel {
    padding: 15px;
}
.btn-icon i {
    font-family: Roboto, "sans-serif";
    padding: 5px;
    font-size: 18px;
    text-align: center;
}
#footer {
    width: 100%;
    padding: 15px;
    font-size: 11px;
    text-align: center;
    color: #f1f2f2;
    /*background: #f1f2f2;*/
    /*bottom: 0;*/
}

.box {
    width: 100%;
    padding: 40px;
    background: #FFFFFF;
}
.box h1 {
    padding: 20px;
    border-bottom: #5e5e5e 1px solid;
    margin-bottom: 20px;
}
.table {
    width: 100%;
}
.table thead th {
    text-align: center;
}